.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanText{
    margin-left: 5px;
    text-align: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.pic2Border{
    border-bottom: 1px solid black;
}


.imgSpan:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}


.discount{
    position: absolute;
    top: -0.100rem;
    right: -0.01rem;
    padding: 5px;
    width: 50px;
    font-weight: bolder;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(237, 39, 39, 1);
    font-size: 11px;
}