.responsive-image{
    width: 100%;
    height: auto; 
    object-fit: cover;  
}
.centered-span {
    text-align: center;
    font-size: 10px;
  }
  .spanText{
    color: red;
    font-size: small;
    text-decoration: line-through;
  }