.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanText{
    margin-left: 5px;
    text-align: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.pic2Border{
    border-bottom: 1px solid black;
}


.imgSpan:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}
