@use "./Pages/page1";
@use "./Pages//page2";
@use "./Pages//page3";
@use "./Navbar//navbar";
@use "./Account//myAccount";
@use "./Account//singUp";
@use "./Foother/foother";
@use "./AboutUs/AboutUs";
@use "./HomeStyles/HomeComp";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
};

