@use "./ProductsDetailts/productdetails";
@use "./Products/products";
@use "./Navbar//navbar";
@use "./Account//myAccount";
@use "./Account//singUp";
@use "./Foother/foother";
@use "./AboutUs/AboutUs";
@use "./HomeStyles/HomeComp";
@use "./Slider/Slider";
@use "./HomeStyles/home";
@use "./Accordion/accordion";
@use "./PaymentPage/paymentPage";


* {
    margin: 0;
    margin-bottom: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}



body{
    padding: 0 !important;
}


