.accountLink{
  cursor: pointer;
  &:hover{
     color: black;
     font-weight: 600;
  }
}

.pic2Border{
  border-bottom: 1px solid black;
}

.countDubbleSpan{
  display: flex;
  justify-content: space-between;
  span:nth-child(1){
    font-family: "inter";
    font-weight: 700;
    font-size:40px;
  }
}