.buttonBef {
    position: relative; 
}

.accountLink{
    text-decoration: none;
    color: black;
    &:hover{
        color: blue;
    }
}

.buttonBef::before{
    position: absolute;
    content: "0";
    text-align: center;
    height: 18px;
    width: 18px;
    line-height: 20px;
    color: white;
    margin-right: 50px;
    margin-bottom: 15px;
    background-color: #ED2727;
    display: inline-block;
    border-radius: 50%;
}

.bisCla::after{
    content:"";
    height: 10px;
    width: 10px;
    background-color: red;
}
